.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element2 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element3 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element4 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element5 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element6 {
  background-color: gray;
  color: white;
}

.block7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element7 {
  background-color: gray;
  color: white;
}

.block8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element8 {
  background-color: gray;
  color: white;
}

.block9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element9 {
  background-color: gray;
  color: white;
}

.block10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element10 {
  background-color: gray;
  color: white;
}

.block11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element11 {
  background-color: gray;
  color: white;
}

.block12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element12 {
  background-color: gray;
  color: white;
}

.block13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element13 {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 2px solid green;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.element13-3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.block14 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element14 {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 2px solid green;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.element14-3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element15 {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 2px solid green;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.element15-3 {
  -ms-flex-negative: 10;
      flex-shrink: 10;
}

.block16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element16 {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 2px solid green;
}

.element16-3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.block17 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element17 {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 2px solid green;
}

.element17-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element {
  height: 150px;
  background-color: gray;
  color: white;
}

h2 {
  text-align: center;
  font-size: 1.5em;
}
