.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element2 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element3 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element4 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element5 {
  height: 150px;
  background-color: gray;
  color: white;
}

.block6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element6 {
  background-color: gray;
  color: white;
}

.block7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element7 {
  background-color: gray;
  color: white;
}

.block8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
  height: 150px;
}

.element8 {
  background-color: gray;
  color: white;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid #d10c0c;
  margin-bottom: 20px;
}

.element {
  height: 150px;
  background-color: gray;
  color: white;
}
