.block8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border: 2px solid #d10c0c;
    margin-bottom: 20px;
    height: 150px;
}

.element8 {
    background-color: gray;
    color: white;
    border: 2px solid green;
}
