.block {
    margin: 0 8px 10px 15px;
    // .block__item

    &__item {
        border-radius: 80px;
    }

    // .block__bem

    &__bem {
        padding: 20px;
    }
}
.red {
    background-color: green;
}
.d {
    line-height: 5;
}
