@import "_header";
@import "justify-content/_flex-end";
@import "justify-content/_space-around";
@import "justify-content/_space-beetween";
@import "justify-content/_center";
@import "align-items/_flex-start";
@import "align-items/_center";
@import "_center-center";
@import "flex-direction/_row";
@import "flex-direction/_column";
@import "flex-direction/_row-reverse";
@import "flex-direction/_column-reverse";
@import "flex-basis_element/_20%";

.block {
    display: flex;
    width: 90%;
    margin: auto;
    border: 2px solid #d10c0c;
    margin-bottom: 20px;
}

.element {
    height: 150px;
    background-color: gray;
    color: white;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}
