.block13 {
    display: flex;
    width: 90%;
    margin: auto;
    border: 2px solid #d10c0c;
    margin-bottom: 20px;
    height: 150px;
}

.element13 {
    background-color: gray;
    color: white;
    padding: 10px;
    border: 2px solid green;
    flex-basis: 20%;
    &-3 {
        order: 1;
    }
}
