.block12 {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
    border: 2px solid #d10c0c;
    margin-bottom: 20px;
    height: 150px;
}

.element12 {
    background-color: gray;
    color: white;
    border: 2px solid green;
}
