.block3 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    border: 2px solid #d10c0c;
    margin-bottom: 20px;
}

.element3 {
    height: 150px;
    background-color: gray;
    color: white;
}
